@import url(/css/reset.css);
@import url(/css/global.css);
@import url(/css/pills.css);
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body::before p {
    content: '';
    background-image: url(/Imagens/back.png);
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.3;
}

.começo {
    background-color: #760000;
    width: 100%;
    height: 110%;
    text-transform: uppercase;
    display: flex;
    position: relative;
}

img {
    width: 10%;
    height: 10%;
    background-color: transparent;
}

.titulo {
    height: 8vh;
    font-size: 3rem;
    font-style: bold;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 25vh;
    display: block;
    width: auto;
    color: white;
}

i {
    font-size: 3rem;
    display: block;
    text-transform: capitalize;
    font-weight: 100;
    text-align: center;
    color: white;
    font-family: 'Parisienne', cursive;
}

.navegacao {
    display: inline-block;
    text-align: center;
    position: static;
    text-transform: uppercase;
}

a {
    padding: 1.5rem 1.5rem;
    text-align: center;
    color: white;
    display: inline-block;
    font-size: 20px;
}

.pills .navegacao {
    top: 2.5rem;
    border-radius: 20px;
    background-color: transparent;
    vertical-align: middle;
    border: solid 5px white;
    font-weight: 900;
}

.pills .navegacao:first-child {
    margin-left: 6rem;
}