@import url('CssPaginaInicial.css');

.maincontent-text{
    position: relative;
    align-items: center;
    max-width: 1500px;
    width: 1200px;
    height: 550px;
    display: block;
    margin: 3.2rem 16rem;    
    background-color: rgba(112,128,144, 0.9);
    border-radius: 25px;
    border: 1px rgba(112,128,144,);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
    transition: background-color 1s ease-in-out, opacity 1s ease-in-out;
}

strong{
    color: whitesmoke;
    justify-content: center;
    font-size: 24px;

}

.texto{
    color: white;
    justify-content: center;
    font-size: 25px;
    opacity: 0.95;
    align-items: center;
    text-align: justify;
    padding-top: 60px;
    margin: 60px;
}

.helps{
    position: relative;
    display: inline-block;
    padding: 0 30px 0 59.9px;
    bottom: 10px;
}

#help{
    top: 10px;
    left: 27%;
    vertical-align: middle;
    border: solid 5px white;
    border-radius: 20px;
    vertical-align: middle;
    border: solid 5px whitesmoke;
    font-weight: 900;
    background-color: 	#708090;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
    top: 24px;
}

#help:hover{
    background-color: #8B0000;
}
.helps-text{
    align-items: flex-start;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.solicitar{
    position: relative;
    display: inline-block;
}

.solicitar-text{
    align-items: flex-start;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
}


#solicitar{
    max-height: 60px;
    left: 10%;
    text-align: center;
    border-radius: 20px;
    vertical-align: middle;
    border: solid 5px whitesmoke;
    font-weight: 900;
    background-color: 	#708090;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
    top: 10px;
}

#solicitar:hover{
    background-color: #8B0000;
}
