@import url('CssPaginaInicial.css');


html{
    max-height: 100vh;
    width: 207.8vh;
}

.main-text{
    position: relative;
    font-size: 70px;
    background-color: rgba(112,128,144, 0.8);
    align-items: center;
    min-width: 600px;
    min-height: 600px;
    margin: 30px 20px;
    opacity: 1;
    display: inline-block;
    text-align: auto;
    border-radius: 8%;
    border: 1px rgba(112,128,144,);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
    
}

p{
    display: inline-block;
    max-width: 700px;
    text-align: justify;
    font-size: 30px;
    align-items: center;
    margin-top: 30px;
    opacity: 1;
    color: whitesmoke;
    margin: 2%;
}


.video-main{
    display: inline-block ;
    left: 800px;
    max-height: 550px;
    min-width: 700px; 
    opacity: 1;
    border-radius: 5%;
    bottom: 10px;
    position: absolute;
}
